@font-face {
    src: url(fonts/Gilroy-ExtraBold.otf); /*goes to font file in specified doc*/
    font-family: GilBold; /*creates a name for imported font*/
}

@font-face {
  src: url(fonts/Gilroy-Light.otf);
  font-family: GilLight;
}

body {
  background-color: #c0deed;
}

.header {
  color: #000000;
  text-align: center;
  font-size: 80px;
  font-family: GilBold;
}

.header2 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-family: GilBold;
}

.header3 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-family: GilBold;
}

#misinformation {
  font-family: GilLight;
  background-color: #000000;
  width: 50%;
  height: 200px;
  margin: 50 auto; /*centers box in the middle*/
  transform: translateY(-10%); /*seems to translate down by percent of page*/
  /* margin-top: 100px; */
}

#disinformation {
  font-family: GilLight;
  background-color: #000000;
  width: 50%;
  height: 200px;
  margin-top: 50 auto;
  transform: translate(100%, -134.95%);
  /* transform: translateY(100%);
  transform: translateX(100%); */
}

p {
  font-family: GilLight;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  transform: translateY(100%);
}

a {
  color: white;
  text-decoration: none;
}

.hometxt {
  font-family: GilBold;
  transform: translateY(-80px);
}

#oprah {
  display: block;
  margin-left: auto; /*centers image*/
  margin-right: auto;
}

#word1 {
  font-family: GilLight;
  color: #ffffff;
  font-size: 40px;
}

#corona {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#word2 {
  font-family: GilLight;
  color: #ffffff;
  font-size: 40px;
}

a:hover {
  color: red;
}


#kim {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#word3 {
  font-family: GilLight;
  color: #ffffff;
  font-size: 40px;
}

#kim {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#word4 {
  font-family: GilLight;
  color: #ffffff;
  font-size: 40px;
}

.box-hover {
  background-size: 800% 100%;
}

.box-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.box-hover:focus {
    outline: none;
}

.box-hover {
    background-image: linear-gradient(to right, #29323c, #485563, #E6E6E6, #ffffff); /*creates gradient for boxes*/
}

.bluefeather {
  width: 80px;
  height: auto;
  transform: translate(1200%, -70%); /*moved image a specified amount*/
  /* transform: translateY(-60px); */
}

#meaning {
  transform: translateY(120px);
}

#meaning2 {
  transform: translateY(120px);
}
